@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body h1 {
  font-family: var(--font-quicksand);
  font-weight: 700;
}

body p, span {
  font-family: var(--font-quicksand);
  font-weight: 400;
}

body h2 {
  font-family: var(--font-quicksand);
  font-weight: 600;
}

body button {
  font-family: var(--font-quicksand);
  font-weight: 500;
}
