.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.card {
    display: flex;
    background: linear-gradient(150deg, #000, #000c40, #111661);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card img {
    border-radius: 2rem;
}

.button {
    background: radial-gradient(circle at top left, #5f2c82, #b06ab3, #ff6a88);
    color: black;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #9c4f5c;
}